/* Guide.css */

.guide-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}

.guide-modal {
  background: white;
  width: 95%;
  max-width: 95vw;
  min-height: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* position: relative; */
  background: url("../assests/guide-bg.png") center / 100% 100% no-repeat;
}

.guide-header {
  width: 80%;
  display: flex;
  margin-top: -12vw;
  justify-content: center;
  position: absolute;
  left: 12%;
  z-index: 999;
}

.guide-header img {
  width: 100%;
}
.guide-content {
  overflow-y: auto;
  height: 110vw;
  position: relative;
  top: -7vw;
}
.guide-content .event-gifts {
  background: url("../assests/Rewards-bg.png") center / 100% 100% no-repeat;
  height: 55vw;
  width: 95%;
  margin: auto;
  position: relative;
}
.guide-close-button {
  width: 12vw;
  height: 12vw;
  margin-top: 5vw;
}
.guide-close-button img {
  width: 100%;
  height: 100%;
}

.gifts {
  background: url("../assests/gifts.png") center / 100% 100% no-repeat;
  padding: 17vw 0;
  margin-top: -12vw;
  width: 100%;
  position: relative;
}
.gifts img {
  position: absolute;
  right: 0;
  width: 4.5rem;
  top: 0;
}
.event-gifts .title {
  color: #fff;
  font-size: 4vw;
  margin-top: 1vw;
  font-weight: 700;
  text-transform: uppercase;
}
.event-gifts .gift1 {
  position: absolute;
  left: 3vw;
  top: 20vw;
  width: 28vw;
}
.event-gifts .gift2 {
  left: 25vw;
  position: absolute;
  top: 10vw;
  width: 39vw;
}
.event-gifts .gift3 {
  right: 7vw;
  position: absolute;
  top: 18vw;
  width: 30vw;
}

.gift1Detail {
  color: rgb(100, 104, 107);
  position: absolute;
  width: 10vw;
  height: 10vw;
  top: 50vw;
  z-index: 89;
  left: 12vw;
  font-size: 2.75vw;
  font-weight: 700;
}

.gift1Detail div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6vw;
}

.gift1Detail div img {
  width: 4vw;
  margin-top: 1vw;
}

.gift2Detail {
  color: rgb(100, 104, 107);
  position: absolute;
  width: 20vw;
  height: 10vw;
  top: 48vw;
  left: 34vw;
  font-weight: 600;
  z-index: 89;
}

.gift2Detail div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5vw;
}

.gift2Detail div img {
  width: 5.5vw;
}

.gift3Detail {
  width: 8vw;
  height: 10vw;
  position: absolute;
  top: 50vw;
  left: 61vw;
  z-index: 99;
  font-size: 2.5vw;
  color: rgb(100, 104, 107);
  font-weight: 700;
}

.gift3Detail div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4vw;
}
.gift3Detail div img {
  width: 3.5vw;
  margin-top: 0.5vw;
}

/* ---- Guide content styling ---- */

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
  height: 12vw;
}

.howtoPlay,
.rewardInfo {
  width: 35%;
  height: 8vw;
  position: relative;
}

.howtoPlay img,
.rewardInfo img {
  width: 100%;
  height: 100%;
}

.howtoPlay span {
  position: absolute;
  color: #fff;
  transform: translate(6vw, 2vw);
}

.rewardInfo span {
  position: absolute;
  color: #fff;
  transform: translate(6vw,2vw);
}

.opacity-100 {
  opacity: 1;
}
.opacity-50 {
  opacity: 0.5;
}

.Tabcontent {
  background: url("../assests/content-bg.png") center / 100% 100% no-repeat;
  height: 82vw;
  line-height: 4vw;
  margin: 2vw auto 0;
  overflow-y: auto;
  padding: 2vw;
  width: 90%;
  font-size: 2.8vw;
}
