.overlay .game {
    position: relative;
}

.game .textTitle {
    font-family: HiJack;
    font-size: 5vw;
    position: relative;
    text-align: center;
    top: 3vw;
}

.game .game-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3.5vw;
    left: 16vw;
    position: absolute;
    text-align: center;
    top: 21vw;
    width: 49vw;
}

.overlay .closeBtn {
    background-color: #0000;
    background-image: url('../assests/close-btn.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    height: 12vw;
    width: 12vw;
}

* button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #0000;
    border: none;
    box-shadow: none !important;
    outline: none;
}

/* success popup design */
.game .game-content-success {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3.5vw;
    left: 16vw;
    position: absolute;
    text-align: center;
    /* top: 21vw; */
    width: 49%;
}

.v-align-middle {
    width: 13%;
}

.mt {
    margin-top: 3rem;
}

.game-content-beans {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3.5vw;
    left: 11vw;
    position: absolute;
    text-align: center;
    top: 28vw;
    width: 49vw;
}