.overlay {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
}
.overlay .content {
  width: 80%;
  min-height: 106vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.overlay .content .title {
  width: 80%;
  height: 11vw;
  object-fit: contain;
}
.overlay .content .guide-title {
  width: 80%;
  height: 30vw;
  position: relative;
  top: -3vw;
}
.overlay .content .teams-title {
  width: 80%;
  height: 30vw;
  position: relative;
  top: -5vw;
}
.overlay .content .info-title {
  width: 93%;
  height: 31vw;
  position: relative;
  top: -9vw;
  left: 2vw;
}
.overlay .closeBtn {
  background-image: url("../assests/close-btn.png");
  width: 12vw;
  height: 12vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}
.overlay .guidePopUp {
  height: 109vw;
  overflow: auto;
  position: relative;
  top: -7vw;
}
.overlay .guidePopUp .event-gifts {
  width: 95%;
  background-image: url("../assests/event-gift-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 68.33333vw;
  position: relative;
  margin: 0 auto;
}
.overlay .guidePopUp .event-gifts .e-title {
  text-align: center;
  font-size: 4vw;
  color: white;
  display: block;
  position: relative;
  top: 2vw;
}
.overlay .guidePopUp .event-gifts .beans {
  width: 5vw;
  position: relative;
  top: 1.8vw;
}
.overlay .guidePopUp .event-gifts .gift1 {
  width: 27vw;
  position: absolute;
  top: 14vw;
  left: 3vw;
}
.overlay .guidePopUp .event-gifts .gift2 {
  width: 36vw;
  position: absolute;
  top: 7vw;
  left: 26vw;
}
.overlay .guidePopUp .event-gifts .gift3 {
  width: 27vw;
  position: absolute;
  top: 17vw;
  left: 56vw;
}
.overlay .guidePopUp .event-gifts .gift1Detail {
  position: absolute;
  top: 47vw;
  z-index: 1;
  left: 13vw;
  font-size: 2.5vw;
  color: #64686b;
  line-height: 0;
}
.overlay .guidePopUp .event-gifts .gift2Detail {
  text-align: center;
  position: absolute;
  top: 45vw;
  z-index: 1;
  left: 30vw;
  font-size: 3vw;
  width: 28vw;
  color: #64686b;
  line-height: 0;
}
.overlay .guidePopUp .event-gifts .gift3Detail {
  position: absolute;
  top: 47vw;
  z-index: 1;
  left: 60vw;
  font-size: 2.5vw;
  color: #64686b;
  line-height: 0;
}
.overlay .guidePopUp .gifts {
  background-image: url("../assests/event-gift-display.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 29vw;
  width: 100%;
  position: relative;
  margin-top: -30vw;
}
.overlay .guidePopUp .gifts img {
  position: absolute;
  top: calcView(28);
  right: 0;
  width: 18vw;
}
.overlay .guidePopUp .tabs {
  display: flex;
  justify-content: center;
  gap: 6vw;
  margin-top: 4vw;
}
.overlay .guidePopUp .tabs .howToPlay {
  background-image: url("../assests/left-button.png");
  width: 41vw;
  height: 7vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "HiJack";
  background-color: transparent;
  border: none;
  font-size: calcView(22);
}
.overlay .guidePopUp .tabs .rewardInfo {
  background-image: url("../assests/right-button.png");
  width: 41vw;
  height: 7vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "HiJack";
  background-color: transparent;
  border: none;
  font-size: calcView(22);
}
.overlay .guidePopUp .tabs .unactive {
  opacity: 0.5;
}
.overlay .guidePopUp .guideContent {
  height: 76vw;
  width: 90%;
  margin: 2vw auto 0;
  overflow-y: auto;
  font-family: "Helvetica";
  font-size: 2.8vw;
  background-image: url("../assests/Guide-text-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  line-height: 4vw;
  padding: 2vw;
}
.overlay .guidePopUp .guideContent .tab1-content li {
  margin-bottom: 3vw;
}
.overlay .guidePopUp .guideContent .tab1-content .accTable table,
.overlay .guidePopUp .guideContent .tab1-content .accTable tr,
.overlay .guidePopUp .guideContent .tab1-content .accTable th,
.overlay .guidePopUp .guideContent .tab1-content .accTable td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 1vw;
}
.overlay .guidePopUp .guideContent .tab1-content .accTable .table {
  width: 90%;
  margin: 0 auto;
}
.overlay .guidePopUp .guideContent .tab1-content .accTable td {
  text-align: center;
}
.overlay .guidePopUp .guideContent .tab2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay .guidePopUp .guideContent .yellow-text {
  background-color: yellow;
  color: black;
  padding: 0.2vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.overlay .guidePopUp .guideContent::-webkit-scrollbar {
  width: 1vw;
  background-color: gray;
}
.overlay .guidePopUp .guideContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1vw;
}
.overlay .guidePopUp .guideContent::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2vw;
}
.overlay .guidePopUp .guideContent::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.overlay .teams-popup .teams-content {
  position: relative;
  top: -6vw;
}
.overlay .teams-popup .teams-content .my-team-div {
  width: 94vw;
  height: 10vw;
  font-size: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -11vw auto 0;
  position: relative;
}
/* .overlay .teams-popup .teams-content .my-rank {
  width: 20vw;
  height: 10vw;
  background-image: url(../assets/images/scoreboard.png);
  background-size: 100% 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
} */
.overlay .teams-popup .teams-content .team-lb {
  height: 66vw;
  overflow: hidden;
  width: 90%;
  margin: 3vw auto 0;
}
/* .overlay .teams-popup .teams-content .team-lb .team-lb-item {
  background-image: url(../assets/images/leaderboard-list-bg.png);
  height: 9vw;
  background-size: 100% 100%;
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
} */
.overlay .teams-popup .teams-content .team-lb .team-lb-item .left-div {
  position: relative;
  left: 4vw;
}
.overlay .teams-popup .teams-content .team-lb .team-lb-item .left-div .index {
  position: relative;
  top: 3vw;
  left: -2vw;
  font-size: 2vw;
}
.overlay .teams-popup .teams-content .team-lb .team-lb-item .left-div .left-info-div {
  display: flex;
  align-items: center;
}
.overlay .teams-popup .teams-content .team-lb .team-lb-item .left-div .left-info-div img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}
.overlay .teams-popup .teams-content .team-lb .team-lb-item .left-div .left-info-div .team-lb-name {
  position: relative;
  left: 1vw;
  font-size: 2.3vw;
}
.overlay .teams-popup .teams-content .team-lb .team-lb-item .right-div {
  display: flex;
  position: relative;
  right: 4vw;
  align-items: center;
}
.overlay .teams-popup .teams-content .team-lb .team-lb-item .right-div .right-score {
  position: relative;
  top: -0.2vw;
  color: white;
  font-size: 3vw;
}
.overlay .teams-popup .teams-content .team-lb .team-lb-item .right-div .right-rank-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .overlay .teams-popup .teams-content .team-lb .team-lb-item .right-div .right-rank-div .right-index {
  width: 9vw;
  height: 6vw;
  background-image: url(../assets/images/rank-bg.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2vw;
  position: relative;
  left: 2vw;
} */
.overlay .teams-popup .teams-content .team-lb .team-lb-item .right-div .right-rank-div .beans-img {
  width: 5vw;
  position: relative;
  top: -0.5vw;
  left: 2vw;
}
.overlay .teams-popup .teams-content .team-lb .team-lb-item .right-div .right-rank-div .right-index .rank {
  color: #242728;
}
.overlay .teams-popup .teams-content .scroll-content {
  position: relative;
  top: 3vw;
}
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc {
  height: 45vw;
  overflow-y: auto;
  overflow-x: hidden;
}
/* .overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item {
  background-image: url(../assets/images/leaderboard-list-bg.png);
  height: 9vw;
  background-size: 100% 100%;
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
} */
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .left-div {
  position: relative;
  left: 4vw;
}
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .left-div .index {
  position: relative;
  top: 3vw;
  left: -2vw;
  font-size: 2vw;
}
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .left-div .left-info-div {
  display: flex;
  align-items: center;
}
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .left-div .left-info-div img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .left-div .left-info-div .team-lb-name {
  position: relative;
  left: 1vw;
  font-size: 2.3vw;
}
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .right-div {
  display: flex;
  position: relative;
  right: 4vw;
  align-items: center;
}
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .right-div .right-score {
  position: relative;
  top: -0.2vw;
  color: white;
  font-size: 3vw;
}
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .right-div .right-rank-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .right-div .right-rank-div .right-index {
  width: 9vw;
  height: 6vw;
  background-image: url(../assets/images/rank-bg.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2vw;
  position: relative;
  left: 2vw;
} */
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .right-div .right-rank-div .beans-img {
  width: 5vw;
  position: relative;
  top: -0.5vw;
  left: 2vw;
}
.overlay .teams-popup .teams-content .scroll-content .team-lb-sc .team-lb-item .right-div .right-rank-div .right-index .rank {
  color: #242728;
}

/* manually popup font changes  */
.overlay .successfull-attempts-popup {
    display: flex;
    flex-direction: column;
    position: relative;
}
.overlay .successfull-attempts-popup .succesfull-attempt-content {
    font-size: 4vw;
    left: 9vw;
    position: absolute;
    top: 20vw;
    width: 80%;
}

.overlay .successfull-attempts-popup .succesfull-attempt-content p {
    font-size: 2.8vw;
    line-height: 1.6;
    text-align: center;
}

/* mileStone component css */
.overlay .milestone {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10vw;
}

overlay .milestone .milestone-content {
    font-size: 3vw;
    height: 96vw;
    margin: 0 auto;
    overflow: auto;
    width: 89%;
}

.overlay .milestone .milestone-content .milestone-title {
    align-items: center;
    border-radius: 20vw;
    color: #fff;
    display: flex;
    height: 9vw;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.overlay .milestone .milestone-content .milestone-title .span1 {
    margin-left: 3vw;
}

.overlay .milestone .milestone-content .milestone-title .span2 {
    margin-right: 7vw;
}

.overlay .milestone .milestone-content .milestone-contents {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 0 auto;
    position: relative;
    top: 3vw;
}

.overlay .milestone .milestone-content .milestone-contents .rew-item {
    align-items: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALYAAAArCAMAAADi1oKrAAAAOVBMVEUAAAATC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1MTC1M43i75AAAAEnRSTlMA8eacD8SFZSITCM9x0MhUU3Ju8tKHAAAA6klEQVRYw93ZWxKDIAwF0AvyVBCb/S+22nZqYZx+53pWwDAhCQkGKU7eGlHEWD/FhD9cWUSppThcc0HVLY9MuDz4ZkU5u2E0T0JgmtFxXij4jB9Z7VMc1YyveRUa6xknFHH9jW98bEKl4cWpz3w963AIQiZg51TXxivmuO6H0CkAaFL2aQGSEEqIQihylZqz5JD0UD0PslrzZkGXtQ8GQon1tkljmzKTrKx5m7RKkvYkpB0ga79N+rsh/Uuy/tzRhErjnkqxzgCRq5Co/aSYpKPy+Q7bhF1Tnwdtu8+mbJeL2qdZ+70k6Rb4CYTHCLtmGF2SAAAAAElFTkSuQmCC);
    background-size: 100% 100%;
    color: #fff;
    display: flex;
    height: 15vw;
    justify-content: space-between;
    margin: 0 auto;
    padding: 4vw;
    width: 92%;
}

.overlay .milestone .milestone-content .milestone-contents .rew-item .rew {
    align-items: center;
    display: flex;
    gap: 1vw;
    justify-content: center;
    width: 24vw;
}

.overlay .milestone .milestone-content {
    font-size: 3vw;
    height: 96vw;
    margin: 0 auto;
    overflow: auto;
    width: 89%;
}

.overlay .milestone .milestone-content .milestone-contents .rew-item .rew .rew-with-bg {
    align-items: center;
    background-image: url('../assests/Rewards-base.png');
    background-size: 100% 100%;
    display: flex;
    height: 10vw;
    justify-content: center;
    width: 22vw;
}

.overlay .milestone .milestone-content .milestone-contents .rew-item .rew .rew-with-bg img {
    width: 8vw;
}

.overlay .milestone .milestone-content .milestone-contents .rew-item .rew span {
    font-size: 2vw;
    text-align: start;
    font-weight: bold;
}

