.Header {
  background-image: url('../assests/Header-bg.png'); 
  background-size: cover; /* Changed to 'cover' to maintain aspect ratio */
  background-position: center; /* Center the background image */
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat; /* Ensure the background doesn't repeat */
  position: relative;
}

.guideBtn{
  width: 3rem;
  height: 3rem;
  position: absolute;
}

.guideBtn img {
  width: 100%;
  height: 100%;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  min-height: 140vw;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button img {
  width: 20px;
  height: 20px;
}

/* --- Chances Container --- */

.chance-container {
  position: absolute;
  display: flex;
  width: 98%;
  left: 0;
  right: 0;
  /* height: 50px; */
  justify-content: space-between;
  margin: auto;
  top: 79.5%;
  color: #fff;
}
.throws-left {
  background: url("../assests/throws-left.png") center / 100% 100% no-repeat;
  height: 100%;
  flex: 0 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5rem;
  padding-top: 0.5rem;
  font-weight: 600;
  font-size: 0.85rem;
}
.chances {
  background: url("../assests/throws-sent.png") center / 100% 100% no-repeat;
  /* height: 60px; */
  flex: 0 1 40%;
  display: flex;
  align-items: center;
  padding-bottom: 2.85rem;
  justify-content: center;
  padding-top: 0.5rem;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 0.85rem;
}
.chances input{
  width: 2rem;
  /* height: 1rem; */
  flex: 0 1 40%;
  border-radius: 1rem;
  box-shadow: none;
  border: 0;
  background: #a3bdc7;
  height: 20px;
  outline: 0;
  color: #fff;
  text-align: center;
  font-size: 0.6rem;
}
.chances input::placeholder{
  color:slategrey;
}
.chances :focus::placeholder {
  color: transparent;
}
/* Additional styling for the Guide component */
.Guide {
  position: absolute;
  top: 50px; /* Adjust based on your layout */
  right: 10px;
  width: 300px; /* Adjust based on your design */
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.infoAndRewards {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    position: absolute;
    top: 103vw;
    width: 100%;
    z-index: 1;
}

.rewardBtn {
    background-color: #0000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    border-radius: 100%;
    height: 12vw;
    width: 12vw;
}

.infoAndRewards .rewardBtn {
  background-image: url('../assests/reward-history-button.gif');
  margin-right: 2rem;
}

.overlay .rewardHistoryPopUp .rewardsTitle {
    display: grid;
    font-size: 3vw;
    grid-template-columns: 50% 50%;
    margin: auto auto 2vw;
    text-align: center;
    width: 85%;
}

.overlay .rewardHistoryPopUp .noData {
    color: #ff0;
    font-family: HiJack;
    margin-top: 19vw;
    text-align: center;
}
