.Header {
  background-image: url('../assests/Header-bg.png'); /* Corrected the spelling of 'assets' */
  background-size: cover; /* Changed to 'cover' to maintain aspect ratio */
  background-position: center; /* Center the background image */
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat; /* Ensure the background doesn't repeat */
  position: relative;
}

img{
    width: 15%;
    height: 6vh;
    position: absolute;
    bottom: 7rem;
    /* left: 0; */
    /* top: 3rem; */
}

