/* styles.css */
.tab-container {
  text-align: center;
  width: 100%;
  height: 10vh;
  margin-top: 10rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0 auto;
  width: 100px;
  /* margin-top: 3rem; */
}

button img {
  width: 80px;
  cursor: pointer;
}

.main-tabs{
  position: absolute;
  width: 100%;
  /* top: 1rem; */
  bottom: .5rem;
  margin: 0 auto;
}