.user-sec .rew-tabs {
    background-image: url('../assests/Daily-weekly-btn.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: 10vw;
    margin: 4vw auto 0;
    width: 90%;
}

.user-sec .rew-tabs .daily {
    background-image: url('../assests/Daily-btn.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 11vw;
    width: 31vw;
}

.user-sec .rew-tabs .weekly {
    background-image: url('../assests/Weekly-btn.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 11vw;
    width: 31vw;
}

.user-sec .rew-tabs .overall {
    background-image: url('../assests/Overall-btn.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 11vw;
    width: 30vw;
}

.user-sec .rewards {
    align-items: center;
    background-image: url('../assests/Rewards-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: 65vw;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.user-sec .rewards .static-rew {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 3vw;
    justify-content: center;
    line-height: 1.4;
    width: 80%;
}

.hide {
    opacity: 0;
}